::selection {
  color: rgb(253 224 71);
}

.App {
  text-align: center;
  max-width: 60rem;
  margin: auto;
}

.header {
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.header * {
  flex: 1;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.header-middle {
  display: flex;
  align-items: center;
  max-width: 10rem;
}
