@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=DM+Mono:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background;
  }
  
  /* Headers */
  h1, h2 {
    @apply font-ubuntu text-header;
  }
  
  h3, h4, h5, h6 {
    @apply font-dm-mono text-header;
  }
  
  /* Paragraphs */
  p {
    @apply font-dm-mono text-body;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
